.thing-form {
  margin: 20px 0;
}

#spotifyLogo {
  width: 150px;
}

.lead{
  letter-spacing: 0.5px;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #384048;
}

.navbar-text {
  margin-left: 15px;
}

button{
  margin: 5px;
}
