<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 form">
      <h1>Create your party</h1><br>
      <form ng-submit="partyCreateCtrl.processForm()">
        <div class="form-group">
          <div class="form-group row">
            <label class="col-xs-3 col-form-label">Host</label>
            <div class="col-xs-9">
              <div>{{partyCreateCtrl.host}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-3 col-form-label">Party Name</label>
            <div class="col-xs-9">
              <input class="form-control" type="text" placeholder="{{partyCreateCtrl.host}}'s Birthday" ng-model="partyCreateCtrl.formData.name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-3 col-form-label">Party Visibility</label>
            <div class="col-xs-3">
              <input type="radio" ng-model="partyCreateCtrl.formData.visibility" value="public"> Public
            </div>
            <div class="col-xs-3">
              <input type="radio" ng-model="partyCreateCtrl.formData.visibility" value="private"> Private
            </div
            <div class="col-xs-3"></div>
          </div>
          <div class="form-group row">
            <label class="col-xs-3 col-form-label">Zip Code</label>
            <div class="col-xs-9">
              <input class="form-control" placeholder="12345" ng-model="partyCreateCtrl.formData.zip">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
              <button type="submit" class="btn btn-success pull-right">Create</button>
              <a href="/"><button class="btn btn-secondary pull-right">Cancel</button></a>
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
